.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  cursor: pointer;
  a {
    all: unset;
    color: rgba(31, 28, 23, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
  }
}
