@import "../../styles/colors.scss";

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.main_content {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.main_content_image_container {
  flex: 1;
}

.main_content_text_container {
  flex: 1;
}

.main_content_text_container_header {
  line-height: 130%;
  font-size: 26px;
  font-weight: semibold;
  margin-top: 14px;
  margin-bottom: 20px;
  .gentle {
    color: $yellow;
  }
}

.main_content_text_container_description {
  font-size: 12px;
  line-height: 166%;
  margin-bottom: 24px;
}

.main_content_text_container_button_row {
  display: flex;
  column-gap: 16px;
}

.mission_values_history {
  display: flex;
  flex-direction: column;
}

.mission_values_history_card {
  color: black;
  font-size: 20px;
}

.mission_values_history_card_header {
  font-size: 20px;
  font-weight: semibold;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .main_content {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15%;
  }
  .main_content_text_container_header {
    font-size: 30px;
    margin-top: 16px;
  }
  .main_content_text_container_description {
    font-size: 14px;
  }

  .mission_values_history {
    flex-direction: row;
    column-gap: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .main_content_header {
    font-size: 35px;
    margin-top: 17px;
    margin-bottom: 22px;
  }
  .main_content_description {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .main_content_header {
    font-size: 40px;
    margin-top: 19px;
    margin-bottom: 24px;
  }
  .main_content_description {
    font-size: 16px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1296px) {
  .main_content {
    padding: 0;
  }
  .main_content_description {
    margin-bottom: 42px;
  }
}
