@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollBars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScrollBars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}